{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block site-head %}
    <title>一站到底</title>
{% endblock %}

{% block site-content %}
<link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>

<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
<script src="{{ js_config.js_lib.yun_wu_you }}"></script>
<script src="/static/city.min.js"></script>


<script>

    header_bar_menu = {{ header_bar_menu | jsonify }}
    page_menu = {{ page_menu |　jsonify }}
    crt_page_name = {{ crt_page_name | jsonify }}
    extend_menu={{  extend_menu | jsonify }}
    qq = {{ qq | jsonify }}

    crt_city = localStorage.getItem(`crt_city`) || '成都'

    search_args = ex.parseSearch()

    $(function(){

        new Vue({
            el:'#header-bar',
            data:{

                menu:header_bar_menu,
                qq:qq,
                crt_page_name:crt_page_name,
                username:page_data.username,
                page_menu: page_menu,
                search_head:{
                    placeholder:'搜索所需服务，如 公司注册'
                },
                crt_city:crt_city,
                search_args:search_args,
//                all_menu:[
//                    {label:'注册公司',name:'zhucegongshi'},
//                    {label:'财税记账',name:'caisuijizhang'},
//                    {label:'知识产权',name:'zhishichanquan'}
//                ]
            }
        })

    })
</script>


<div id="header-bar" class="header out-wrap">
    <div style="background-color: #f0f0f0">
        <com-big-city-select v-model="crt_city"></com-big-city-select>
    </div>
    <div class="wrap" style="margin-top: 1em;">

        <div class="flex" style="justify-content: space-between;align-items: center;">
            <a href="/p/home" class="log-link" style="display: flex">
                <!--<img src="http://www.kuaifawu.com/static/img/common/logo_510.png" alt=""/>-->
                <img style="height: 60px" src="/static/images/one_station.png" alt="">
            </a>

            <com-search-kuaifawu  :head="search_head" :search_args="search_args"></com-search-kuaifawu>
        </div>

    </div>

<div style="border-bottom: 1px solid #02c9ff;">
    <div class="wrap" style="margin-top: 1em;">
        <div class="flex" style="justify-content: space-between">
            <com-kuaifawu-menu label="全部服务分类" :menu_group="page_menu" ></com-kuaifawu-menu>

            <div class="flex">
                <com-header-menu :menu="menu" :active="crt_page_name"></com-header-menu>

                <div style="font-size:130%;align-self: center;color: #4f96cb;">
                    <i class="fa fa-phone"></i>
                    <span v-text="qq.service_phone"></span>
                </div>
            </div>


        </div>
    </div>
</div>


</div>







<div class="center-content">
    {% block page_content %}

    {% endblock %}
</div>


<script>

    footer_menu={{ footer_menu | jsonify }}

    $(function(){
        new Vue({
            el:'.footer',
            data:{
                footer_menu:footer_menu,
                qq:qq,
            }
        })
    })


</script>


<div class="footer out-wrap">

    <div class="wrap flex links">
        <div class="menu-panel flex-grow flex">
            <div v-for="menu in footer_menu" class="menu-1">
                <label v-text="menu.label"></label>
                <ul>
                    <li v-for="act in menu.submenu">
                        <a :href="act.link"  v-text="act.label"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wechat flex">
            <img :src="qq.wechat_gzh" alt="">
            <pre class="slogan" v-html="qq.wechat_slogan"></pre>


        </div>
        <div class="service">
            <label for="">服务支持</label>
            <h3 class="phone" v-text="qq.service_phone"></h3>
            <span v-text="qq.service_time"></span>
        </div>
    </div>

    <div class="com-info">
        <div class="wrap">
            <div style="text-align: center;padding-top: 1em;">
                <span v-text="qq.beian_info"></span>
            </div>
            <div style="text-align: center;padding-top: 0.5em;">
                <a v-text="qq.copyright"></a>
            </div>
        </div>
    </div>


</div>

<style>
    .commut-panel{
        position: fixed;
        right: 10px;
        top:50%;
        z-index: 1000;
        background-color: #4f4f4f;
        padding: 0.3em;
    }
    .commut-panel img{
        width: 26px;
    }
    .commut-panel .item{
        border-bottom: 1px solid #5f5f5f;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>


<div class="commut-panel">
    <div class="item" style="text-align: center">
       <span style="color: white" title="在线联系我们">...</span>
    </div>
    <div class="item">
        <a class="ceshi" href="tencent://message/?Site=yzdd360.com&uin={{ qq.qq }}&Menu=yes">
            <img src="/static/images/qq.png" alt="" >
        </a>
    </div>

    <div class="item">
        <img src="/static/images/wechat.png" alt="">
    </div>

</div>

{% endblock %}